*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
/*roboto rules---> font-family: 'Charm', cursive; 'Delius', cursive; 'Satisfy', cursive;'Mr De Haviland', cursive; 'Marck Script', cursive;*/
html{
    color: #470407;
    font-family: 'Delius', cursive, 'Arial',sans-serif;
    font-weight: 400;
    font-size: 18px;
    text-rendering: optimizeLegibility;
    background-image:url(img/BG.jpg);
    background-position:left bottom;
    background-repeat: no-repeat;
    background-size:cover;
}
h1{
    font-family:'Mr De Haviland',cursive;
    font-size:250%;
    text-align:center;
}
h2,h3{
    text-align:center;
}
p{
    text-align:center;
}
.row{
    max-width: 1140px;
    margin: 0 auto;
}
/*HEAD*/
.head{
}
.logo{
    position:absolute;
    float:left;
    width:12%;
    margin:20px;
}
.payLink{
    position:absolute;
    right:20px;
    margin: 40px;
}
/*HEAD*/

/*HERO-TEXT*/
.mainText{
    padding:80px 18px 18px 18px;
}
.frase{
    line-height: 150%;
    margin:0px 150px;
}
.agradecer{
    padding:20px;
}
/*HERO-TEXT*/

/*polaroid pictures*/
.window{
    width:screen.width;
}
.outerBox{
    width: 65%;
    margin: 30px auto;
    box-shadow:0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.29);
    font-family:'Marck Script', cursive;
    font-size: 150%;
    background-color:white;
}
.innerBox{
    width: 90%;
    margin: 20px auto;
    padding:20px 0px;
}
.innerBox img{
    width:100%;
    border-style:solid;
    border-width: 1px;
}
.innerBox p{
    padding: 30px 0px;
}
/*polaroid pictures*/
